<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="clinicEdit" class="flex flex-col w-4/6 mx-auto">
		<h2 class="text-center">Edit Clinic</h2>
		<form th:action="@{/clinics/{id}/edit (id = ${clinic.id}) }" class="mx-auto w-5/6  flex flex-col align-items-center justify-center"  method="post" th:object="${clinic}">
			<label for="clinic_name" class="block mb-2 text-sm font-medium text-gray-900">Clinic Name</label>
            <input th:field="*{name}" type="text" id="clinic_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        
			<button type="submit" class="mt-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
		</form>
	</div>
</body>
</html>