<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="doctorInternalCreate" class="flex flex-col w-4/6 mx-auto">
		<h2 class="text-center">Add Internal</h2>
		<form action="/doctor/internals/create" class="mx-auto w-5/6  flex flex-col align-items-center justify-center"  method="post" th:object="${internal}">
			
			
			<label for="internal" class="block mb-2 text-sm font-medium text-gray-900">Internal Start Date Time</label>
            <input th:field="*{start}" type="datetime-local" id="internal" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        
        	
        
			<button type="submit" class="mt-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Save</button>
		</form>
	</div>
</body>
</html>